
/*  Gerais */

body {
    background: url("../images/background.svg") no-repeat center center;
    background-size: auto 160%;

}


/*  Formulário */


.login-form input {
    font-weight: 600;
    padding: 7% 7% 7% 20%;
    border-radius: 1em;
}

input:focus {
    outline: solid 2px #ececec;
}

.login-box {
    background: url("../images/elements/login.svg") no-repeat center center;
    background-size: auto 130%;
}
.password-box {
    background: url("../images/elements/password.svg") no-repeat center center;
    background-size: auto 130%;
}

.submit {
    padding: 5% !important;
    width: 40%;
    color: white;
    background-color: #FE5375;
    margin-left: 60%;
    border-radius: 4em !important;
}

.submit:hover {
    background-color: #ffffff;
    color: #FE5375;
}