.navbar {
    background-color: var(--surface-1) !important;
    border-bottom: 1px solid var(--surface-2);
}

.drawer-side .min-h-full {
    background-color: var(--surface-2) !important;
    border-right: 1px solid var(--surface-3);
}

.menu button {
    color: var(--muted);
    transition: all 0.2s ease;
}

.menu button:hover {
    background-color: var(--surface-3);
    color: var(--praestitia-primary);
}

.menu button:hover svg {
    stroke: var(--praestitia-primary);
}

.menu button.active {
    background-color: var(--surface-3);
    color: var(--praestitia-primary);
    border-left: 3px solid var(--praestitia-primary);
}

.menu button.active svg {
    stroke: var(--praestitia-primary);
}


.drawer-content {
    background-color: var(--surface-1);
    color: var(--praestitia-text);
}