
button:hover * {
    color: var(--praestitia-primary) !important;
}
button:hover svg {
    fill: var(--praestitia-primary) !important;
}


button:active {
    background-color: var(--surface-2) !important;
}

.menu button:active {
    background-color: var(--surface-3) !important;
}

.btn-ghost:active {
    background-color: var(--surface-2) !important;
}

.navbar, .drawer-side, .menu button, .menu span {
    color: var(--praestitia-text) !important;
}
.menu button svg {
    stroke: var(--praestitia-text) !important;
    fill: none !important;
}
